@import "./global/fonts";
@import "./global/variables";
@import "./global/reset";
@import "./global/global";

// Mixins
@import "./mixins/nav-link-mixin";

// Common styles
@import "./common/topbar";
@import "./common/header";
@import "./common/footer";
@import "./common/hamburger";

// Main page
@import "./main-page/hero";
@import "./main-page/welcome_section";
@import "./main-page/boxes_info_section";
@import "./main-page/recipes_section";
@import "./main-page/restaurants_section";
@import "./main-page/celiac_disease_section";
@import "./main-page/products_section";
@import "./main-page/contact";

// Listings
@import "./listings/listing_v1";
