* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  overflow-x: clip;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: $transparent;
  &.blocked-body {
    overflow: hidden;
  }
}

body {
  background-color: $white-bg-color;
}
