$color-white: #ffffff;
$color-black: #000000;
$color-black02: #0000008c;
$color-green01: #7fb402;
$color-green02: #648f00;

$color-text-darkgreen01: #0c472e;

$main-bg-green-color: #7fb402;
$main-bg-green-color02: #56750b;
$main-bg-green-color03: #9ee002d7;
$white-bg-color: #ffffff;
$black-bg-color: #000000;
$black-shadow-text-bg-color01: #00000098;
$black-shadow-text-bg-color02: #000000cb;
$light-grey-bg: #f3f3f3;

$grey-box-shadow: 0 0 16px 0 #cacaca;
$green-box-shadow: 0 0 24px 0 #506d0e93;

$grey-border-color01: rgba(224, 224, 224, 0.438);
$grey-border-color02: rgba(189, 189, 189, 0.75);
$green-border-color01: #7fb402;
$white-border-color01: #ffffff;

$transparent: rgba(255, 255, 255, 0);

$dinner-label-bg: #4ee916;
$breakfast-label-bg: #e9f53d;
$dessert-label-bg: #46d7fb;
$europe-label-bg: #535353;
$poland-label-bg: #6914b9;
