$color-white: #ffffff;
$color-black: #000000;
$color-black02: #0000008c;

$color-text-darkgreen01: #0c472e;

$main-bg-green-color: #7fb402;
$main-bg-green-color02: #56750b;
$white-bg-color: #ffffff;
$black-bg-color: #000000;

$grey-border-color01: rgba(224, 224, 224, 0.438);

$transparent: rgba(255, 255, 255, 0);
