$color-white: #ffffff;
$color-black: #000000;
$color-black02: #0000008c;
$color-green01: #7fb402;
$color-green02: #648f00;

$color-text-darkgreen01: #0c472e;

$main-bg-green-color: #7fb402;
$main-bg-green-color02: #56750b;
$main-bg-green-color03: #9ee002d7;
$footer-light-green-bg: #bddd726e;
$white-bg-color: #ffffff;
$black-bg-color: #000000;
$black-shadow-text-bg-color01: #00000098;
$black-shadow-text-bg-color02: #000000cb;
$light-grey-bg: #f3f3f3;

$grey-box-shadow: 0 0 16px 0 #cacaca;
$green-box-shadow: 0 0 24px 0 #506d0e93;

$grey-border-color01: rgba(224, 224, 224, 0.438);
$grey-border-color02: rgba(189, 189, 189, 0.75);
$green-border-color01: #7fb402;
$white-border-color01: #ffffff;

$transparent: rgba(255, 255, 255, 0);

$dinner-label-bg: #57be4e;
$breakfast-label-bg: #e9f53d;
$dessert-label-bg: #56cdf1;
$europe-label-bg: #535353;
$poland-label-bg: #6914b9;
$product-label-bg: #00b688;

$lidl-label-bg: #f7e900;
$lidl-label-text-color: #004ea5;
$biedronka-label-bg: #fded00;
$biedronka-label-text-color: #e40314;
$stokrotka-label-bg: #8bb04b;
$stokrotka-label-text-color: #ffffff;
$shop-label-bg: #862424;
$shop-label-text-color: #ffffff;
