#boxes-info-section {
  position: relative;
  display: flex;
  width: 100%;
  background-color: $light-grey-bg;
  z-index: 0;
  .boxes-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 140px 16px 168px 16px;
    @media (max-width: 992px) {
      padding: 40px 16px;
    }
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-bottom: 64px;
      font-size: 26px;
      line-height: 32px;
      @media (max-width: 992px) {
        font-size: 22px;
        line-height: 28px;
        margin: 0 auto 40px;
      }
    }
    .boxes-info {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 992px) {
        gap: 16px;
      }
      &-slot {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 31%;
        padding: 40px;
        box-sizing: border-box;
        background-color: $white-bg-color;
        transition: all 0.6s;
        box-shadow: $grey-box-shadow;
        @media (max-width: 992px) {
          width: 100%;
          padding: 24px;
        }
        &:hover {
          background-color: $main-bg-green-color03;
        }
        &__icon {
          svg {
            width: 48px;
            height: auto;
            margin-right: 16px;
            @media (max-width: 992px) {
              width: 36px;
              height: auto;
            }
          }
        }
        &__text {
          span {
            font-size: 20px;
            @media (max-width: 992px) {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}
