.celiac-disease-section {
  position: relative;
  display: flex;
  width: 100%;
  background: url(./../../../public/img/backgrounds/bg-gradient02.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  .celiac-disease-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 16px;
    @media (max-width: 992px) {
      padding: 32px 0 48px 0;
    }
    h2 {
      font-size: 36px;
      line-height: 1.3;
      margin-bottom: 14px;
      font-weight: 600;
      color: $color-green05;
      margin-bottom: 24px;
      margin-top: 0;
      @media (max-width: 992px) {
        font-size: 24px;
        margin: 40px auto 24px;
      }
    }
    .item {
      background-color: $light-grey-bg;
      padding: 40px 40px 40px 80px;
      position: relative;
      margin-bottom: 15px;
      border-radius: 16px;

      .number {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: $main-bg-green-color03;
        color: $color-black;
        font-size: 52px;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        opacity: 0.4;
        @media (max-width: 992px) {
          font-size: 46px;
        }
      }

      strong {
        display: block;
        font-weight: bold;
        font-size: 1.2em;
        color: $color-black;
        margin-bottom: 10px;
      }

      p {
        font-size: 1em;
        color: $color-black;
        margin-top: 10px;

        @media (max-width: 992px) {
          font-size: 0.9em;
        }
      }

      .subitem {
        margin-top: 10px;
        font-size: 1em;
        color: $color-black;

        @media (max-width: 992px) {
          font-size: 0.9em;
        }
      }
    }

    @media (max-width: 992px) {
      padding: 15px;

      .item {
        padding: 48px 15px 15px 64px;
        .number {
          font-size: 40px;
          width: 64px;
          height: 64px;
        }
      }
    }
  }
}
