.celiac-disease-section {
  position: relative;
  display: flex;
  width: 100%;
  background-color: $white-bg-color;
  z-index: 0;
  .celiac-disease-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 16px;
    @media (max-width: 992px) {
      padding: 32px 0 48px 0;
    }
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-bottom: 64px;
      font-size: 26px;
      line-height: 32px;
      margin-top: 64px;
      @media (max-width: 992px) {
        font-size: 22px;
        line-height: 28px;
        margin: 40px auto 40px;
      }
    }
    .item {
      background-color: $light-grey-bg;
      padding: 40px 40px 40px 80px;
      position: relative;
      margin-bottom: 15px;

      .number {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: $main-bg-green-color03;
        color: $color-black;
        font-size: 52px;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.4;
        @media (max-width: 992px) {
          font-size: 46px;
        }
      }

      strong {
        display: block;
        font-weight: bold;
        font-size: 1.2em;
        color: $color-black;
        margin-bottom: 10px;
      }

      p {
        font-size: 1em;
        color: $color-black;
        margin-top: 10px;

        @media (max-width: 992px) {
          font-size: 0.9em;
        }
      }

      .subitem {
        margin-top: 10px;
        font-size: 1em;
        color: $color-black;

        @media (max-width: 992px) {
          font-size: 0.9em;
        }
      }
    }

    @media (max-width: 992px) {
      padding: 15px;

      .item {
        padding: 45px 15px 15px 80px;
        .number {
          font-size: 46px;
        }
      }
    }
  }
}
