.cooperation-section {
  position: relative;
  display: flex;
  width: 100%;
  background-color: $white-bg-color;
  z-index: 0;

  .cooperation-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px 100px 16px;

    @media (max-width: 992px) {
      padding: 32px 0 88px 0;
    }

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-bottom: 16px;
      font-size: 36px;
      line-height: 1.3;
      margin-top: 64px;

      @media (max-width: 992px) {
        font-size: 22px;
        line-height: 28px;
        margin: 40px auto 16px;
      }
    }

    .swiper-container {
      position: relative;
      width: 100%;

      .swiper {
        padding: 40px 0 60px 0;
        width: 100%;

        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
          user-select: none;
          height: auto;

          .partner-logo {
            height: 110px;
            width: auto;
            object-fit: contain;
            transition: filter 0.3s ease;
          }
        }

        .swiper-button-next,
        .swiper-button-prev {
          width: 45px;
          height: 45px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          top: 45%;
          z-index: 10;

          &::after {
            display: none;
          }
        }

        .swiper-button-next {
          background-image: url("/icons/hero/arrow-right.svg");
          right: 10px;
        }

        .swiper-button-prev {
          background-image: url("/icons/hero/arrow-left.svg");
          left: 10px;
        }

        .swiper-pagination {
          display: flex;
          justify-content: center;
          align-items: center;
          bottom: 10px;
          left: 50%;
          transform: translateX(-50%);
          background: rgba(255, 255, 255, 0.8);
          backdrop-filter: blur(8px);
          padding: 6px 16px;
          border-radius: 48px;
          width: fit-content;
          border: 1px solid rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

          &-bullet {
            width: 8px;
            height: 8px;
            margin: 0 6px !important;
            background: linear-gradient(135deg, $color-green01, $color-green02);
            opacity: 0.4;
            transition: all 0.35s ease;
            cursor: pointer;

            &:hover {
              opacity: 0.8;
            }

            &-active {
              width: 16px;
              height: 8px;
              border-radius: 12px;
              opacity: 1;
              box-shadow: 0 4px 12px rgba(34, 197, 94, 0.3);
            }
          }
        }
      }
    }

    .slide-content a:hover .partner-logo {
      filter: opacity(0.7);
    }
  }
}
