.events-section {
  position: relative;
  display: flex;
  width: 100%;
  background: url(./../../../public/img/backgrounds/bg-gradient02.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  .events-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 140px 16px;
    @media (max-width: 992px) {
      padding: 40px 8px;
    }
    h2 {
      font-size: 36px;
      line-height: 1.3;
      margin-bottom: 14px;
      font-weight: 600;
      color: $color-green05;
      margin-bottom: 24px;
      margin-top: 0;
      @media (max-width: 992px) {
        font-size: 24px;
        margin: 40px auto 24px;
      }
    }
    .events-box {
      &-slot {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 8px;
        &__icon {
          display: flex;
          margin-right: 12px;
          width: 32px;
          height: 32px;
          font-size: 32px;
          &.instagram {
            width: 40px;
            height: 40px;
            font-size: 40px;
            margin-left: -4px;
            margin-right: 8px;
          }
        }
        &__content {
          a {
            font-size: 18px;
            text-decoration: none;
            color: $color-green01;
            span {
              color: $color-black;
              font-size: 15px;
            }
            &:hover {
              color: $color-black;
            }
            @media (max-width: 992px) {
              font-size: 14px;
              span {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}
