#hero {
  position: relative;
  display: flex;
  width: 100%;
  background-color: $light-grey-bg;
  border-bottom: 1px solid $grey-border-color01;
  z-index: 0;
  .hero-wrapper {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 24px;
    .swiper {
      height: 600px;
      &-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
      }
      &-button-next {
        position: absolute;
        width: 45px;
        height: 45px;
        background-image: url("./../../../public/icons/hero/arrow-right.svg");
        background-size: contain;
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        top: 50%;
        right: 40px;
        z-index: 1;
        &::after {
          font-size: 0;
        }
      }
      &-button-prev {
        position: absolute;
        width: 45px;
        height: 45px;
        background-image: url("./../../../public/icons/hero/arrow-left.svg");
        background-size: contain;
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        top: 50%;
        left: 40px;
        z-index: 1;
        &::after {
          font-size: 0;
        }
      }
      &-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-pagination-bullet {
        width: 10px;
        height: 10px;
        border: 2px solid $color-white;
      }
      &-pagination-bullet-active {
        width: 16px;
        height: 16px;
        background-color: $main-bg-green-color;
      }
      .slide-content {
        &:has(.welcome-hero-img) {
          margin-left: -180px;
        }
        .swiper-slide-box {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          .swiper-slide-box__text {
            margin-right: 40px;
          }
          &.text-right-side {
            .swiper-slide-box__text {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              margin-left: 40px;
              h2 {
                display: inline-flex;
                justify-content: flex-end;
                text-align: right;
              }
            }
          }
          &__text {
            display: flex;
            flex-direction: column;
            h2 {
              display: inline-flex;
              justify-content: flex-start;
              font-size: 48px;
              line-height: 58px;
              width: 400px;
              margin-bottom: 24px;
              text-align: left;
            }
            .hero-cta {
              font-size: 16px;
              text-decoration: none;
              background: linear-gradient(
                $main-bg-green-color,
                $main-bg-green-color02
              );
              width: max-content;
              padding: 8px 24px;
              border-radius: 32px;
              color: $color-white;
              &:hover {
                background: linear-gradient(
                  $main-bg-green-color02,
                  $main-bg-green-color
                );
              }
            }
          }
          &__img {
            img {
              width: 460px;
              height: 400px;
              clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
              object-fit: cover;
              &.welcome-hero-img {
                object-position: top;
                width: 180%;
                height: auto;
                max-height: 460px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #hero {
    .hero-wrapper {
      padding-bottom: 0;
      margin-bottom: -8px;
      .swiper {
        height: auto;
        &-button-next {
          right: 0;
        }
        &-button-prev {
          left: 0;
        }
        .swiper-pagination {
          bottom: 16px;
        }
        .swiper-slide {
          .swiper-slide-box__img {
            img {
              filter: opacity(0.45) brightness(1.05) contrast(1.1);
              clip-path: unset;
            }
          }
        }
        .swiper-slide {
          overflow: hidden;
          .slide-content {
            &:has(.welcome-hero-img) {
              margin-left: unset;
            }
            .swiper-slide-box {
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
              align-items: center;
              &.text-right-side {
                .swiper-slide-box__text {
                  right: 0;
                  margin: 0;
                }
              }
              &__text {
                position: absolute;
                left: 0;
                padding: 0 64px;
                z-index: 1;
                h2 {
                  font-size: 32px;
                  line-height: 40px;
                  width: 70vw;
                }
                .hero-cta {
                  font-size: 13px;
                }
              }
              &__img {
                height: 400px;
                z-index: 0;
                img {
                  &.welcome-hero-img {
                    width: 100%;
                    max-height: unset;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
