#recipes-section {
  position: relative;
  display: flex;
  width: 100%;
  background-color: $white-bg-color;
  z-index: 0;
  .recipes-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 16px;
    @media (max-width: 992px) {
      padding: 32px 0 48px 0;
    }
    h1.seo-text {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      font-weight: 500;
      span {
        display: inline;
        margin: 0 8px;
        color: $color-green02;
        font-weight: 700;
      }
      @media (max-width: 1180px) {
        flex-direction: column;
      }
      @media (max-width: 992px) {
        font-size: 16px;
        margin: 0 auto;
        white-space: break-spaces;
        width: 80%;
        text-align: center;
        span {
          font-size: 24px;
          margin-right: 0;
        }
      }
    }
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-bottom: 40px;
      font-size: 26px;
      line-height: 32px;
      margin-top: 64px;
      @media (max-width: 992px) {
        font-size: 22px;
        line-height: 28px;
        margin: 40px auto 24px;
      }
    }
  }
}
