#restaurants-section {
  position: relative;
  display: flex;
  width: 100%;
  background: url(./../../../public/img/backgrounds/bg-gradient02.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  z-index: 0;
  .restaurants-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 16px;
    @media (max-width: 992px) {
      padding: 32px 0 48px 0;
    }
    h2 {
      font-size: 36px;
      line-height: 1.3;
      margin-bottom: 14px;
      font-weight: 600;
      color: $color-green05;
      margin-bottom: 24px;
      @media (max-width: 992px) {
        font-size: 24px;
        margin: 40px auto 24px;
      }
    }
  }
}
