#video {
  position: relative;
  display: flex;
  width: 100%;
  background-color: $light-grey-bg;
  z-index: 0;
  .video-section-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 140px 16px 168px 16px;
    @media (max-width: 992px) {
      padding: 40px 16px;
    }
    .section-title {
      display: flex;
      flex-direction: column;
      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-bottom: 24px;
        font-size: 26px;
        line-height: 32px;
        @media (max-width: 992px) {
          font-size: 22px;
          line-height: 28px;
        }
      }
      h4 {
        font-weight: 400;
        @media (max-width: 992px) {
          font-size: 14px;
        }
      }
    }
    iframe {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 24px;
      border-radius: 16px;
      padding: 16px;
      background-color: $color-white;
      width: 800px;
      height: auto;
      aspect-ratio: 560/315;
      box-shadow: 0px 9px 28px 8px #0000000d, 0px 3px 6px -4px #0000001f,
        0px 6px 16px 0px #00000014;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }
}
