.welcome-section {
  position: relative;
  display: flex;
  width: 100%;
  background-color: $white-bg-color;
  border-bottom: 1px solid $grey-border-color01;
  z-index: 0;
  .welcome-section-wrapper {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 16px;
    @media (max-width: 992px) {
      padding: 40px 16px;
    }
    .more-text {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: max-height 0.7s ease, opacity 0.8s ease;
      &.open {
        max-height: 2000px;
        opacity: 1;
      }
    }
    .img-text-box {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 40px;
      height: auto;
      @media (max-width: 992px) {
        flex-direction: column;
        gap: 16px;
      }
      .img-box {
        .border-img {
          border-radius: 24px;
          overflow: hidden;
          box-shadow: 0px 9px 28px 8px #0000000d, 0px 3px 6px -4px #0000001f,
            0px 6px 16px 0px #00000014;
          width: 300px;
          height: 300px;
          object-fit: cover;
          object-position: top;
        }
        @media (max-width: 992px) {
          order: 2;
          .border-img {
            display: flex;
            justify-content: center;
            width: 100%;
            height: auto;
            margin: 24px auto 0;
          }
        }
      }
      .text-box {
        h1 {
          margin-bottom: 12px;
        }
        h2 {
          margin-bottom: 16px;
          font-weight: 700;
          color: $color-green02;
        }
        p {
          font-size: 16px;
          margin-bottom: 14px;
          font-weight: 400;
          text-align: justify;
        }
        @media (max-width: 992px) {
          order: 1;
          h1 {
            font-size: 27px;
            line-height: 33px;
          }
          h2 {
            font-size: 19px;
            line-height: 23px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
