#welcome-section {
  position: relative;
  display: flex;
  width: 100%;
  background-color: $white-bg-color;
  border-bottom: 1px solid $grey-border-color01;
  z-index: 0;
  .welcome-section-wrapper {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 600px;
    padding: 24px 16px;
  }
}
