.welcome-section {
  position: relative;
  display: flex;
  width: 100%;
  background-color: $white-bg-color;
  border-bottom: 1px solid $grey-border-color01;
  z-index: 0;
  .welcome-section-wrapper {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 16px;
    @media (max-width: 992px) {
      padding: 40px 16px;
    }
    .img-text-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;
      height: auto;
      @media (max-width: 992px) {
        flex-direction: column;
        gap: 16px;
      }
      .img-box {
        @media (max-width: 992px) {
          order: 2;
          .border-img {
            display: flex;
            justify-content: center;
            width: 80%;
            margin: 0 auto;
          }
        }
        .border-img {
          border-radius: 12px;
          outline: 1px solid $green-border-color01;
          border: 16px solid $white-border-color01;
          height: auto;
          @media (max-width: 992px) {
            border: 8px solid $white-border-color01;
          }
        }
      }
      .text-box {
        h1 {
          margin-bottom: 12px;
        }
        h2 {
          margin-bottom: 12px;
          font-weight: 700;
          color: $color-green02;
        }
        p {
          font-size: 16px;
          margin-bottom: 8px;
          font-weight: 400;
          text-align: justify;
        }
        @media (max-width: 992px) {
          order: 1;
          h1 {
            font-size: 27px;
            line-height: 33px;
          }
          h2 {
            font-size: 19px;
            line-height: 23px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
