.listing-v1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  @media (max-width: 992px) {
    gap: 12px;
  }
  &-slot {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 294px;
    height: 380px;
    overflow: hidden;
    @media (max-width: 992px) {
      width: 45vw;
      height: 54vw;
    }
    &:has(.breakfast-label) {
      .zoom-box {
        span {
          color: $breakfast-label-bg;
        }
        svg {
          filter: brightness(0) saturate(100%) invert(91%) sepia(54%)
            saturate(2411%) hue-rotate(328deg) brightness(121%) contrast(92%);
        }
      }
    }
    &:has(.dessert-label) {
      .zoom-box {
        span {
          color: $dessert-label-bg;
        }
        svg {
          filter: brightness(0) saturate(100%) invert(78%) sepia(12%)
            saturate(4609%) hue-rotate(160deg) brightness(103%) contrast(97%);
        }
      }
    }
    &:hover {
      box-shadow: $green-box-shadow;
      .listing-v1-slot__text {
        transition: all 0.6s;
        height: 100%;
        background-color: $black-shadow-text-bg-color02;
        span {
          font-size: 0;
        }
      }
      .listing-v1-slot__zoom {
        .zoom-box {
          opacity: 1;
          transition: opacity 0.6s;
        }
      }
      .listing-v1-slot__labels {
        display: none;
        span {
          font-size: 0;
        }
      }
    }
    &__img {
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    &__text {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $black-shadow-text-bg-color01;
      padding: 16px;
      width: 100%;
      height: 27%;
      @media (max-width: 992px) {
        padding: 8px;
      }
      span {
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 15px;
        color: $color-white;
        @media (max-width: 640px) {
          font-size: 12px;
          line-clamp: 2;
          -webkit-line-clamp: 2;
        }
      }
    }
    &__labels {
      position: absolute;
      top: 10px;
      left: 10px;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        padding: 2px 12px;
        &.breakfast-label {
          background-color: $breakfast-label-bg;
        }
        &.dinner-label {
          background-color: $dinner-label-bg;
        }
        &.dessert-label {
          background-color: $dessert-label-bg;
        }
        @media (max-width: 992px) {
          font-size: 12px;
          padding: 2px 8px;
        }
      }
    }
    &__zoom {
      .zoom-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        svg {
          width: 120px;
          height: 120px;
          filter: brightness(0) saturate(100%) invert(81%) sepia(16%)
            saturate(6619%) hue-rotate(53deg) brightness(99%) contrast(99%);
        }
        span {
          display: flex;
          font-size: 17px;
          font-weight: 400;
          text-align: center;
          justify-content: center;
          color: $color-green01;
        }
      }
    }
  }
}
