.leaflet-container {
  height: 800px !important;
  .map-link {
    display: inline-flex;
    color: $color-green02;
    margin-top: 8px;
  }
  @media (max-width: 992px) {
    height: 60dvh !important;
  }
}
