.map-page {
  .map-section {
    .searchbar-box {
      margin: 0 16px;
      .search-input {
        padding: 10px;
        width: 100%;
        max-width: 500px;
        margin: 0 auto 20px;
        display: block;
        border-radius: 8px;
        border: 1px solid #ccc;
        user-select: none;
        &:active,
        &:focus,
        &:hover {
          outline: 0;
          border: 1px solid $color-green01;
        }
      }
    }
  }
}
.leaflet-container {
  height: 600px !important;
  .map-link {
    all: unset;
    display: inline-flex;
    color: $color-green02;
    margin-top: 8px;
    cursor: pointer;
    &:hover {
      color: $color-black;
    }
  }
  @media (max-width: 992px) {
    height: 40dvh !important;
  }
}
.places-link,
.zoom-button {
  all: unset;
  display: inline-flex;
  color: $color-green02;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $color-black;
  }
}

.places-table-container {
  position: relative;
  margin-top: 2rem;
  padding-top: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  h4 {
    font-size: 14px;
    font-weight: 400;
  }
  @media (max-width: 992px) {
    overflow-x: scroll;
    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 20px;
      top: 0;
      left: 12px;
      background: url(./../../../public/icons/common/swipe-hand.svg);
      background-repeat: no-repeat;
      background-size: contain;
      animation: swipe-icon 1.6s ease-in-out infinite;
    }
    &::after {
      content: "Dotknij i przesuń, żeby zobaczyć więcej";
      position: absolute;
      width: 240px;
      height: 10px;
      top: 2px;
      left: 40px;
      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
      color: #505050;
    }
  }
}

@keyframes swipe-icon {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0);
  }
}

.places-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  background: #fff;
  width: 1200px;
  margin: 16px auto 0;
  @media (max-width: 992px) {
    width: max-content;
  }

  th,
  td {
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 0.75rem 1rem;
    text-align: left;
    .table-address-line {
      display: inline-flex;
      margin-right: 4px;
    }
    a {
      color: $color-green02;
      &:hover {
        text-decoration: none;
      }
    }
    @media (max-width: 992px) {
      font-size: 11px;
      padding: 0.5rem;
    }
  }

  thead {
    background-color: #f7f7f7;

    th {
      font-weight: 600;
      color: #333;
    }
  }

  tbody tr {
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #f1f9f1;
    }
  }

  td {
    vertical-align: top;
  }
}

@media (max-width: 992px) {
  .leaflet-popup-content {
    strong,
    div {
      font-size: 11px;
    }
  }
}
