@mixin nav-link-mixin($padding, $font-size) {
  position: relative;
  color: $color-black;
  text-decoration: none;
  padding: $padding;
  display: inline-block;
  font-size: $font-size;
  transition: color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  margin: auto 4px;

  &:hover {
    text-decoration: none;
    background-color: $color-green03;
    border-radius: 8px;
  }
}