.hero-cta,
.primary-button__text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: $color-white;
  background: linear-gradient(
    135deg,
    $main-bg-green-color,
    $main-bg-green-color02
  );
  padding: 10px 28px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: fit-content;
  &:has(svg) {
    padding: 10px 20px 10px 28px;
  }

  &.white {
    background: $color-white;
    color: $color-green05;
    &:hover {
      color: $color-green05;
      background: $color-white;
    }
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
    background: linear-gradient(
      135deg,
      $main-bg-green-color02,
      $main-bg-green-color
    );
    svg {
      transform: translateX(4px);
      transition: transform 0.25s ease-in-out;
    }
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

  &:focus-visible {
    outline: 2px solid lighten($main-bg-green-color02, 20%);
    outline-offset: 3px;
  }

  @media (max-width: 992px) {
    font-size: 13px;
    padding: 6px 16px;
  }
}

// Optional container styling for .primary-button
.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.hero-cta-box {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  @media (max-width: 992px) {
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

.read-more-btn {
  margin-top: 16px;
  @extend .hero-cta;
  background: $color-green04;
  color: $color-green05;
  &:hover {
    background: $color-green04;
    color: $color-green05;
  }
  @media (max-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px auto 0;
  }
}
