.footer {
  background-color: $footer-light-green-bg;
  height: auto;
  border-top: 1px solid $grey-border-color01;
  &-wrapper {
    position: relative;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    width: 100%;
    padding: 24px 16px;
    &-brand {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $white-border-color01;
    }
    &-top {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
      padding: 40px 0;
      .footer-col {
        display: flex;
        flex-direction: column;
        border-right: 1px solid $white-border-color01;
        padding-right: 5%;
        &:last-of-type {
          border-right: 0;
          padding-right: 0;
        }
        h2 {
          font-size: 16px;
          font-weight: 600;
          color: $color-green02;
          margin-bottom: 16px;
        }
        a {
          font-size: 13px;
          text-decoration: none;
          color: $color-black;
          margin-bottom: 4px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &-bottom {
    background-color: $light-grey-bg;
    padding: 16px 0;
    p {
      color: $color-black;
      font-size: 16px;
      text-align: center;
      margin: 8px 0;
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-black;
      font-size: 12px;
      text-align: center;
      margin: 8px auto;
      a {
        display: inline-flex;
        margin-left: 5px;
        text-align: center;
        color: $color-black;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  .footer {
    &-wrapper {
      &-top {
        justify-content: flex-start;
        gap: 40px;
        padding: 40px 0;
        .footer-col {
          width: 25%;
          padding-right: 0;
          &:nth-of-type(3) {
            border-right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .footer {
    &-wrapper {
      max-width: unset;
      width: 100%;
      margin: 0;
      padding: 24px 0 24px 16px;
      &-brand {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 0;
        &__logo {
          img {
            height: 56px;
            width: auto;
          }
        }
        &__text {
          border-bottom: 1px solid $white-border-color01;
          padding: 0 0 24px 0;
          small {
            font-size: 12px;
          }
        }
      }
      &-top {
        justify-content: flex-start;
        gap: 24px;
        padding: 24px 0;
        .footer-col {
          width: 45%;
          padding-right: 16px;
          &:nth-of-type(odd) {
            border-right: 1px solid $white-border-color01;
          }
          &:nth-of-type(even),
          &:last-of-type {
            border-right: 0;
          }
          h2 {
            font-size: 15px;
            margin-bottom: 10px;
          }
          a {
            font-size: 12px;
          }
        }
      }
    }
    &-bottom {
      p {
        font-size: 14px;
      }
      span {
        margin: 8px auto;
      }
    }
  }
}
