header {
  position: relative;
  box-shadow: 0 4px 16px rgba(255, 255, 255, 0.2);
  width: 100vw;
  z-index: 1;
  .header {
    display: flex;
    width: 100%;
    background-color: $white-bg-color;
    border-bottom: 1px solid $grey-border-color01;
    &-wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: $white-bg-color;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      z-index: 1;
      &__logo {
        a {
          text-decoration: none;
          img {
            width: 340px;
            height: auto;
            margin-top: 6px;
          }
        }
      }
      &__nav {
        ul * {
          user-select: none;
        }

        ul.nav-first-lvl {
          display: flex;
          flex-direction: row;
          align-items: center;
          list-style: none;

          li {
            position: relative;

            &.header-social-link {
              display: inline-flex;
              align-items: center;
              > a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 0;
              }
            }

            &.nav-expand {
              span {
                position: relative;
                @include nav-link-mixin(8px, 18px);

                img {
                  margin: 0 8px;
                  transition: all 0.6s;
                  &.rotate {
                    transform: rotate(180deg);
                  }
                }
                + .nav-second-lvl.active {
                  display: flex;
                  opacity: 1;
                  transform: translateY(0);
                }
              }
              .nav-second-lvl {
                list-style: none;
                position: absolute;
                left: 0;
                top: 60px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                background-color: $white-bg-color;
                padding: 8px 0;
                opacity: 0;
                transform: translateY(-10px);
                transition: opacity 0.3s ease, transform 0.3s ease;
                border: 1px solid $grey-border-color01;
                li {
                  &::after {
                    display: none;
                  }
                  a {
                    font-size: 16px;
                    white-space: pre;
                  }
                }
              }
            }

            a {
              @include nav-link-mixin(8px 16px, 18px);
            }

            &:not(:last-child)::after {
              content: "";
              position: absolute;
              right: 2px;
              top: 50%;
              transform: translateY(-50%);
              width: 1px;
              height: 32px;
              background-color: $grey-border-color02;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  header {
    width: 100%;
    .header {
      height: 70px;
      &-wrapper {
        align-items: center;
        &__logo {
          width: auto;
          height: 68px;
          margin-left: 12px;
          a {
            img {
              margin: 0;
              width: auto;
              height: 68px;
            }
          }
        }
        &__nav {
          display: none;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          position: absolute;
          width: 100%;
          height: 100dvh;
          top: 70px;
          left: 0;
          padding: 16px 0 0 16px;
          overflow-x: hidden;
          overflow-y: scroll;
          background-color: $white-bg-color;
          &.open {
            display: flex;
            z-index: 9;
            .nav-first-lvl {
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              width: calc(100% - 16px);
              > li {
                border-bottom: 1px solid $grey-border-color01;
              }
              li {
                padding: 12px 0;
                width: 100%;
                &::after {
                  display: none;
                }
                a {
                  font-size: 19px;
                  padding: 0 0 0 8px;
                  color: $color-black;
                  width: 100%;
                  &:hover {
                    color: $color-black;
                  }
                }
              }
              .header-social-link {
                > a {
                  font-size: 15px;
                  justify-content: flex-start;
                  .social-icon {
                    margin-right: 8px;
                  }
                }
              }
              .nav-expand {
                padding: 0;
                span {
                  font-size: 19px;
                  margin: 0;
                  width: 100%;
                  padding: 12px;
                  color: $color-black;
                  &:hover {
                    color: $color-black;
                    &::before {
                      animation: unset;
                    }
                  }
                }
                .nav-second-lvl {
                  display: none;
                  position: relative;
                  top: 0;
                  left: 0;
                  background-color: unset;
                  &.active {
                    display: flex;
                    border-bottom: 0;
                  }
                  li {
                    padding: 0;
                    a {
                      font-size: 16px;
                      padding: 8px 0 8px 24px;
                      &::before {
                        content: "";
                        position: absolute;
                        left: 12px;
                        top: 16px;
                        transform: translateY(50%);
                        width: 5px;
                        height: 5px;
                        background-color: $black-bg-color;
                        border-radius: 50%;
                        margin-left: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  header {
    .header {
      &-wrapper {
        &__logo {
          a {
            img {
              width: 220px;
            }
          }
        }
      }
    }
  }
}
