header {
  position: relative;
  box-shadow: 0 4px 16px rgba(255, 255, 255, 0.2);
  width: 100vw;
  z-index: 1;
  .header {
    display: flex;
    width: 100%;
    height: 92px;
    background-color: $white-bg-color;
    border-bottom: 1px solid $grey-border-color01;
    &-wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: $white-bg-color;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      z-index: 1;
      &__logo {
        a {
          text-decoration: none;
          img {
            width: 320px;
            height: auto;
            margin-top: 6px;
          }
        }
      }
      &__nav {
        ul * {
          user-select: none;
        }

        ul.nav-first-lvl {
          display: flex;
          flex-direction: row;
          align-items: center;
          list-style: none;

          li {
            position: relative;

            &.header-social-link {
              display: inline-flex;
              align-items: center;
              > a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 0;
                width: 33px;
                @media (max-width: 992px) {
                  width: 100%;
                }
              }
            }

            &.nav-expand {
              span {
                position: relative;
                @include nav-link-mixin(4px 0 6px 8px, 15px);

                @media (max-width: 1200px) {
                  @include nav-link-mixin(4px 0 6px 6px, 14px);
                }

                img {
                  margin: 0 8px;
                  transition: all 0.6s;
                  width: 14px;
                  height: 8px;
                  &.rotate {
                    transform: rotate(180deg);
                  }
                }
                + .nav-second-lvl.active {
                  display: flex;
                  opacity: 1;
                  transform: translateY(0);
                }
              }
              .nav-second-lvl {
                list-style: none;
                position: absolute;
                left: 4px;
                top: 40px;
                display: none;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                background-color: $white-bg-color;
                padding: 8px 0;
                opacity: 0;
                transform: translateY(-10px);
                transition: opacity 0.3s ease, transform 0.3s ease;
                border: 1px solid $grey-border-color01;
                border-radius: 8px;
                li {
                  width: 100%;
                  &::after {
                    display: none;
                  }
                  a {
                    font-size: 14px;
                    white-space: pre;
                    padding: 4px 8px 6px 8px;
                    width: calc(100% - 8px);
                  }
                }
              }
            }

            a {
              @include nav-link-mixin(6px 8px, 14px);

              @media (max-width: 1360px) {
                @include nav-link-mixin(4px 6px, 14px);
              }
              &.contact {
                text-decoration: none;
                background-color: $color-green03;
                border-radius: 8px;
                padding: 6px 8px;
                &:hover {
                  background: linear-gradient(
                    135deg,
                    $main-bg-green-color,
                    $main-bg-green-color02
                  );
                  color: $color-white;
                  transition: background 0.25s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  header {
    width: 100%;
    .header {
      height: 70px;
      &-wrapper {
        align-items: center;
        &__logo {
          width: auto;
          height: 68px;
          margin-left: 12px;
          a {
            img {
              margin: 0;
              width: auto;
              height: 68px;
            }
          }
        }
        &__nav {
          display: none;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          position: absolute;
          width: 100%;
          height: 100dvh;
          top: 70px;
          left: 0;
          padding: 16px 0 0 16px;
          overflow-x: hidden;
          overflow-y: scroll;
          background-color: $white-bg-color;
          &.open {
            display: flex;
            z-index: 9;
            overflow-y: scroll;
            overflow-x: hidden;
            .nav-first-lvl {
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              width: calc(100% - 16px);
              > li {
                border-bottom: 1px solid $grey-border-color01;
              }
              li {
                padding: 12px 0;
                width: 100%;
                &::after {
                  display: none;
                }
                a {
                  font-size: 17px;
                  padding: 0 0 0 8px;
                  color: $color-black;
                  width: 100%;
                  &:hover {
                    color: $color-black;
                  }
                }
              }
              .header-social-link {
                > a {
                  font-size: 15px;
                  justify-content: flex-start;
                  .social-icon {
                    margin-right: 8px;
                  }
                }
              }
              .nav-expand {
                padding: 0;
                span {
                  font-size: 17px;
                  margin: 0;
                  width: 100%;
                  padding: 12px;
                  color: $color-black;
                  &:hover {
                    color: $color-black;
                    &::before {
                      animation: unset;
                    }
                  }
                }
                .nav-second-lvl {
                  display: none;
                  position: relative;
                  top: 0;
                  left: 0;
                  background-color: unset;
                  &.active {
                    display: flex;
                    border-bottom: 0;
                    padding: 0;
                  }
                  li {
                    padding: 0;
                    a {
                      font-size: 16px;
                      padding: 8px 0 8px 24px;
                      white-space: break-spaces;
                      &::before {
                        content: "";
                        position: absolute;
                        left: 12px;
                        top: 16px;
                        transform: translateY(50%);
                        width: 5px;
                        height: 5px;
                        background-color: $black-bg-color;
                        border-radius: 50%;
                        margin-left: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Third lvl menu

.nav-sub-expand {
  position: relative;
  &:has(.nav-third-lvl) {
    .arrow-img {
      transform: rotate(270deg);
      @media (max-width: 1180px) {
        transform: rotate(0);
      }
      &.rotate {
        transform: rotate(90deg) !important;
        @media (max-width: 1180px) {
          transform: rotate(180deg) !important;
        }
      }
    }
  }
  span {
    cursor: pointer;
    display: flex;
    align-items: center;

    .arrow-img {
      margin-left: 8px;
      transition: transform 0.3s ease;
    }
  }

  .nav-third-lvl {
    list-style: none;
    position: absolute;
    top: -9px;
    left: 100%;
    display: none;
    flex-direction: column;
    background-color: $white-bg-color;
    padding: 8px 0;
    border: 1px solid $grey-border-color01;
    opacity: 0;
    border-radius: 8px;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;

    @media (max-width: 1180px) {
      position: relative;
      top: 0;
      left: 0;
      border: 0;
    }

    &.active {
      display: flex;
      opacity: 1;
      transform: translateX(0);
    }

    li {
      a {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 320px) {
  header {
    .header {
      &-wrapper {
        &__logo {
          a {
            img {
              width: 220px;
            }
          }
        }
      }
    }
  }
}
