section {
  .section-description {
    margin: 0 16px 24px 16px;
    padding: 24px;
    border-radius: 16px;
    background-color: $light-grey-bg;
    @media (max-width: 992px) {
      padding: 16px;
    }
  }
  .section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 24px;
    width: auto;
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-bottom: 24px;
      font-size: 26px;
      line-height: 32px;
      padding: 0 8px 6px 8px;
      border-bottom: 2px solid $color-green01;
    }
    h4 {
      font-weight: 400;
      @media (max-width: 992px) {
        font-size: 14px;
      }
    }
    @media (max-width: 992px) {
      h1 {
        font-size: 22px;
      }
    }
  }

  .section-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    width: auto;
    p {
      font-size: 16px;
      margin: 0 0 12px 0;
    }
    h2 {
      margin: 0 0 16px 0;
    }
    ul,
    ol {
      padding-left: 40px;
      margin: 0 0 12px 0;
    }
    @media (max-width: 992px) {
      p,
      ol,
      ul,
      li {
        font-size: 13px;
      }
      h2 {
        font-size: 18px;
      }
    }
  }
  &#category-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 0;
    @media (max-width: 992px) {
      padding: 16px 0;
    }
  }
}
