section {
  &.map-section {
    padding-top: 24px;
    h1 {
      margin-bottom: 16px;
      text-align: center;
    }
  }
  .section-description {
    margin: 0 16px 24px 16px;
    padding: 24px;
    border-radius: 16px;
    background-color: $light-grey-bg;
    .section-title {
      padding: 0;
    }
    @media (max-width: 992px) {
      padding: 16px;
    }
  }
  .section-title {
    width: auto;
    h2 {
      font-size: 36px;
      line-height: 1.3;
      margin-bottom: 14px;
      font-weight: 600;
      color: $color-green05;
      margin-bottom: 24px;
      margin-top: 64px;
      padding: 0 8px 6px 8px;
      @media (max-width: 992px) {
        padding: 0 8px 0 16px;
      }
    }
    h3 {
      padding-top: 32px;
    }
    h4 {
      text-align: center;
      font-weight: 400;
      @media (max-width: 992px) {
        font-size: 12px;
      }
    }
    @media (max-width: 992px) {
      h1 {
        font-size: 21px;
      }
    }
  }

  .section-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    width: auto;
    p {
      font-size: 16px;
      margin: 0 0 12px 0;
    }
    h2 {
      margin: 0 0 16px 0;
    }
    ul,
    ol {
      padding-left: 40px;
      margin: 0 0 12px 0;
    }
    @media (max-width: 992px) {
      p,
      ol,
      ul,
      li {
        font-size: 13px;
      }
      h2 {
        font-size: 18px;
      }
    }
  }
  &#category-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 0;
    @media (max-width: 992px) {
      padding: 16px 0;
    }
  }
}
