.topbar {
  background-color: $main-bg-green-color;
  height: auto;
  padding: 4px 0;
  border-top: 1px solid $grey-border-color01;
  &-wrapper {
    position: relative;
    max-width: calc(1280px - 160px);
    width: 100%;
    margin: 0 auto;
    code {
      display: inline-flex;
      font-family: "Zen Maru Gothic", sans-serif;
      font-weight: 700;
      margin: 0 8px;
      background-color: $white-bg-color;
      padding: 1px 8px;
    }
    p {
      color: $color-black;
      font-size: 16px;
      text-align: center;
      margin: 8px 0;
    }
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 4px;
      text-align: center;
      color: $color-black;
      font-weight: 600;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      .cart-icon {
        display: inline-flex;
        margin-left: 6px;
      }
    }
  }
}

@media (max-width: 960px) {
  .topbar {
    &-wrapper {
      max-width: unset;
      width: calc(100% - 64px);
      p {
        font-size: 14px;
        line-height: 22px;
      }
      a {
        .cart-icon {
          width: 20px;
          height: auto;
        }
      }
    }
  }
}
